body{
    background-image: url(wp9475962-summer-vacation-aesthetic-wallpapers.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  margin-top: 0px;
}
.header
{
    display: grid;
    grid-template-columns: 400px 1fr;
    margin-top: 0px;

}
.web-name
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 5px;
    color: aliceblue;
    font-weight: bold;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    
}
.head1
{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-content: center;
    border-radius: 10px;
    z-index: 0;
}
.web-name2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-top: 5px;
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.island
{
    position: fixed;
    width: 500px;
    height: 100px;
    top: 07%;
    left:35%;
}
.fiji
{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 110px;
    color: rgb(255, 255, 255);
text-shadow: 5px 5px 12px #000000;

}
.detail
{
    position: fixed;
    top: 290px;
    left:20%;
}
.comment
{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 1000px;
    height: 100px;   
    text-shadow: 3px 3px 1px #000000;
    font-weight:bolder;
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(250, 250, 250);
}
.but
{
    position: fixed;
    top: 390px;
    left:47%;
}
.button
{
    width: 200px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(85, 138, 207);
    border-radius: 20px;
    color:aliceblue;
    cursor: pointer;
    border: 0px;
}
